USE [jctdev]
GO
/****** Object:  Table [dbo].[JCT_EPOR_QUALIFICATION_TYPE_MASTER]    Script Date: 07/27/2021 17:38:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JCT_EPOR_QUALIFICATION_TYPE_MASTER](
	[Company_Code] [char](10) NULL,
	[Emp_Code] [char](10) NULL,
	[TYPE_CODE] [varchar](40) NULL,
	[LONGDESC] [varchar](40) NULL,
	[SHORTDESC] [varchar](40) NULL,
	[Created_Dt] [datetime] NULL,
	[Status] [char](1) NULL,
	[eff_from] [datetime] NULL,
	[eff_to] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[JCT_EPOR_QUALIFICATION_TYPE_MASTER] ([Company_Code], [Emp_Code], [TYPE_CODE], [LONGDESC], [SHORTDESC], [Created_Dt], [Status], [eff_from], [eff_to]) VALUES (N'jct00ltd  ', N'demo      ', N'A102', N'Masters', N'Masters', CAST(0x00009DB400BD7DDE AS DateTime), N'A', CAST(0x00009DB400BD7DDE AS DateTime), CAST(0x0000A00C00BD7DDE AS DateTime))
INSERT [dbo].[JCT_EPOR_QUALIFICATION_TYPE_MASTER] ([Company_Code], [Emp_Code], [TYPE_CODE], [LONGDESC], [SHORTDESC], [Created_Dt], [Status], [eff_from], [eff_to]) VALUES (N'JCT00LTD  ', N'DEMO      ', N'BAC202', N'BACHELORS', N'BACHELORS', CAST(0x00009DB5009AD881 AS DateTime), N'A', CAST(0x00009DA600000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime))
INSERT [dbo].[JCT_EPOR_QUALIFICATION_TYPE_MASTER] ([Company_Code], [Emp_Code], [TYPE_CODE], [LONGDESC], [SHORTDESC], [Created_Dt], [Status], [eff_from], [eff_to]) VALUES (N'JCT00LTD  ', N'DEMO      ', N'SEC203', N'SECONDRY', N'SECONDRY', CAST(0x00009DBC0118CAD1 AS DateTime), N'A', CAST(0x00009DA600000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime))
/****** Object:  Table [dbo].[JCT_EPor_Course_Master]    Script Date: 07/27/2021 17:38:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JCT_EPor_Course_Master](
	[Company_Code] [char](8) NULL,
	[Emp_Code] [char](7) NULL,
	[Course_Code] [varchar](100) NULL,
	[Course_Name] [varchar](300) NULL,
	[Short_Name] [varchar](20) NULL,
	[Course_Type] [varchar](10) NULL,
	[Course_Duration] [smallint] NULL,
	[Duration_In] [varchar](10) NULL,
	[Created_Dt] [datetime] NULL,
	[Status] [char](1) NULL,
	[Stream] [varchar](50) NULL,
	[eff_from] [datetime] NULL,
	[eff_to] [datetime] NULL,
	[category] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[JCT_EPor_Course_Master] ([Company_Code], [Emp_Code], [Course_Code], [Course_Name], [Short_Name], [Course_Type], [Course_Duration], [Duration_In], [Created_Dt], [Status], [Stream], [eff_from], [eff_to], [category]) VALUES (N'JCT00LTD', N'a-00098', N'a102', N'Master In Computer Application', N'M.C.A', N'Degree', 3, N'Years', CAST(0x00009E70011ECD22 AS DateTime), N'D', N'Computer Application', NULL, CAST(0x0000A00C00BEB516 AS DateTime), NULL)
INSERT [dbo].[JCT_EPor_Course_Master] ([Company_Code], [Emp_Code], [Course_Code], [Course_Name], [Short_Name], [Course_Type], [Course_Duration], [Duration_In], [Created_Dt], [Status], [Stream], [eff_from], [eff_to], [category]) VALUES (N'JCT00LTD', N'a-00098', N'a102', N'Plus Two', N'+2', N'School', 1, N'Years', CAST(0x00009E70011ECD22 AS DateTime), N'D', N'Non Medical', NULL, CAST(0x0000A00C00BEB516 AS DateTime), NULL)
INSERT [dbo].[JCT_EPor_Course_Master] ([Company_Code], [Emp_Code], [Course_Code], [Course_Name], [Short_Name], [Course_Type], [Course_Duration], [Duration_In], [Created_Dt], [Status], [Stream], [eff_from], [eff_to], [category]) VALUES (N'JCT00LTD', N'demo   ', N'a102', N'', N'', NULL, NULL, NULL, CAST(0x00009E70011ECD22 AS DateTime), N'D', NULL, CAST(0x0000000000000000 AS DateTime), CAST(0x0000A00C00BEB516 AS DateTime), NULL)
/****** Object:  Table [dbo].[JCT_Epor_Professional_Qualification_Detail]    Script Date: 07/27/2021 17:38:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JCT_Epor_Professional_Qualification_Detail](
	[User_Companycode] [varchar](20) NULL,
	[user_code] [varchar](20) NULL,
	[Course] [varchar](100) NULL,
	[Year_of_Passing] [datetime] NULL,
	[percentage] [numeric](18, 0) NULL,
	[institute] [varchar](100) NULL,
	[Status] [char](1) NULL,
	[Emp_code] [varchar](20) NULL,
	[created_dt] [datetime] NULL,
	[Type] [varchar](40) NULL,
	[Subjects] [varchar](500) NULL,
	[Univ_Code] [varchar](50) NULL,
	[Univ_Name] [varchar](100) NULL,
	[Inst_Code] [varchar](100) NULL,
	[Study_Mode] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[trans_no] [numeric](18, 0) NULL,
	[EFF_FROM] [datetime] NULL,
	[EFF_TO] [datetime] NULL,
	[AREA] [varchar](100) NULL,
	[from_date] [datetime] NULL,
	[to_date] [datetime] NULL,
	[category] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[JCT_Epor_Professional_Qualification_Detail] ([User_Companycode], [user_code], [Course], [Year_of_Passing], [percentage], [institute], [Status], [Emp_code], [created_dt], [Type], [Subjects], [Univ_Code], [Univ_Name], [Inst_Code], [Study_Mode], [Code], [trans_no], [EFF_FROM], [EFF_TO], [AREA], [from_date], [to_date], [category]) VALUES (N'JCT00LTD', N'', N'M.C.A', CAST(0x00009D2F00A6B06E AS DateTime), CAST(70 AS Numeric(18, 0)), N'GNE LUDHIANA', N'D', N'r-03348', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'NonProfessional')
