body {
}
.GridHeader
{
    font-weight: bold;
    font-size: 10pt;    
    background-image: url(Image/blackbarnormal.png);
    text-transform: capitalize;
    color: white;
    font-family: 'Trebuchet MS' , Tahoma;
    height: 24px;    
}

.GridItem
{
    font-weight: bold;
    font-size: 8pt;
    background-image: url(Image/GlassBarNormal.PNG);
    text-transform: capitalize;
    color: #4d4d4d;
    height: 20px;
    font-family: Tahoma;    
}

.Grid
{
    height:auto ;
}

.GridSelectedItem
{
    font-weight: bold;
    font-size: 8pt;
    background-image: url(Image/RedBar25px.png);
    text-transform: capitalize;
    color: black;
    font-family: Tahoma;
}

.GridAI
{
    font-weight: bold;
    font-size: 8pt;    
    background-image: url(Image/GlassBarNormalDark.PNG);
    text-transform: capitalize;
    color: white;
    height: 20px;
    font-family: Tahoma;
}

.DetailField
{
    font-weight: bold;
    font-size: 8pt;
    background-image: url(Image/GlassBarNormalDark.PNG);
    text-transform: capitalize;
    color: white;    
    height : 20px;
    font-family: Tahoma;
}

.TextBack
{
    color: #444444;
    border-width: 1px;
    border-style : solid;
    border-color : Gray;
    height: 17px
}

.HighlightLabel
{
    background: url(Image/SmallGlassBarNormal.PNG);
    color: #444444;
}


.ButtonBack
{
    background: url(../Image/GlossyBlackButtonsm.png);
    color: #FFFFFF;
    border-style : none;
    font-family : Tahoma;
    font-size: 8pt;
    font-weight : bold;     
    height : 28px;   
    width : 124px     
}
.ButtonBackH
{
    background: url(Image/GlossyGreyButton.png);
    color: #FFFFFF;
    border-style : none;
    font-family : Tahoma;
    font-size: 8pt;
    font-weight : bold;     
    height : 28px;   
    width : 124px     
}
.ButtonBack:hover
{
    background: url(Image/GlassBarNormal.png);
    color: #444444;
    border-style : none;    
    font-family : Tahoma;
    font-size: 8pt;
    font-weight : bold;
    height : 25px;   
    width : 90px     
}

.BigButtonBack
{
    background: url(Image/BlackBarNormal.png);
    color: #FFFFFF;
    font-family : Tahoma;
    font-size: 8pt;
    font-weight : bold;
    border-style : none;
    height : 25px;   
    width : 175px
}

.BigButtonBack:hover
{
    background: url(Image/GlassBarNormal.png);
    color: #444444;
    border-style : none;
    font-family : Tahoma;
    font-size: 8pt;
    font-weight : bold;
    height : 25px;   
    width : 175px     
    
}

.DropDownItem
{
    font-size: 8pt;
    background-image: url(Image/SmallGlassBarNormal.PNG);
    text-transform: capitalize;
    color: #4d4d4d;
    height: 15px;
    font-family: Tahoma;       
}

.PanelBack
{
    background : url(Image/PanelGradient.PNG) fixed repeat-x;
}

.FormTitle
{
    background : url(Image/redbar25px.PNG) repeat-x;
}
.ValidationSummary
{
    background-image: url(Image/Gradient2.PNG);
    background-repeat: repeat-y;
}
