/* To Be Used For First Row of Table */
.tableheader
{
/*	font-family:Trebuchet MS;
	font-size:10pt;
	font-weight:bold;
	color:White;
	background-image:url("../Image/RedBar25px.png");
	height : 23px;
*/
    background-position: 0px -4px; 
    background-image: url('../Image/Frame/Frame_Vertical_Back.png');
    font-family : Trebuchet MS;
    font-size:10pt;
    height: 37px;
    text-align: left;
}

.frameheader
{
    background-position: 0px -4px; 
    background-image: url('../Image/Frame/Frame_Vertical_Back.png');
    font-family : Trebuchet MS;
    font-size:10pt;
    height: 37px;
    text-align: left;
}

.tableback
{
    background-position: 0px -41px; 
    background-image: url('../Image/Frame/Frame_Vertical_Back.png');
    background-repeat:repeat-x ;
    text-align: left;
}

.buttonrt
{

      background-image: url(../Image/expand.gif);

      background-repeat :no-repeat ;

      width: 21px;

      height: 21px;  
}

.buttondn

{

      background-image: url(../Image/collapse.gif);

      background-repeat :no-repeat ;

      width: 21px;

      height: 21px;
     

}
.gridheader
{
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    color: White;
    background-image: url(../Image/TitleHeader.png);
    height: 23px;
    background-color: gray;
}
.panelbg
{
	background-image:url("../Image/Background/PanelGradient.PNG");
	background-repeat:repeat-x;
}
.panelcells
{
    font-family:Tahoma;
	font-size:8pt;
    background-image:url("../Image/Background/PanelGradient.PNG");
	background-repeat:repeat-x;
	
}

.smallpanelcells
{
    font-family:Tahoma;
	font-size:8pt;
    background-image:url("../Image/Background/SmallPanelGradient.PNG");
	background-repeat:repeat-x;
	
}

.gridrowheader
{
	font-family:Tahoma;
	font-size:8pt;
	font-weight:bold;
	color:black;
	background-image:url("../Image/SmallGlassBarNormal.png");
	height : 23px;	
	background-repeat:repeat-x;
}


/* To Be Used For Background of Labels and their cells */
.labelcells
{
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	/*background-image: url("../Image/Gradient2.PNG");*/
	background-color:Transparent;
	margin-top: auto;	
	vertical-align: top;
	background-repeat: repeat-y;
}

.labelcells_s
{
    background-position: left top;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    background-image: url('../Image/Plain_Footer.png');
    margin-top: 0;
    vertical-align: top;
    background-repeat: no-repeat;
    text-align: left;
}


/* To Be Used For Background and setting  of TextBoxes's cells */
.textcells
{
	font-family:Tahoma;
	font-size:8pt;
	background-color: Transparent;
	margin-top:auto;
	vertical-align:top;
	height: 13px;
}

.textcells_s
{
    background-position: right top;
    font-family: Tahoma;
    font-size: 8pt; /*background-color:#f5f5f5;*/
    background-image: url('../Image/Plain_Footer.png');
    background-color: Transparent;
    margin-top: auto;
    vertical-align: top;
    height: 13px;
    background-repeat: no-repeat;
}



/* To Be Used For setting  of TextBoxes */
.textbox
{
	font-family:Tahoma;
	font-size:8pt;
	height:13px;
	margin-top:auto;
	/*text-transform:uppercase;*/
}
/* To Be Used For setting  of Multiline TextBoxes */
.multilinetextbox
{
	font-family:Tahoma;
	font-size:8pt;
	margin-top:auto;
	padding-top:auto;
}
.loading
{
	color:Blue;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold
}
/* To Be Used For setting  of Multiline TextBoxes set height=124px and width=28px
.buttonc
{	
	background-image: url(../Image/Buttons_Tabs/GlossyNormalButtonSm2.png);
	width: 84px;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: White;
	line-height: 22px;
	border-style:none;
}
*/

.buttonc
{
    background-image : url('../Image/GlossyNormalButton.png');
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    color : White;
    display:inline-block;
    width : 84px;
    line-height:22px;
}


.buttonhover
{
   /* background-image : url(../Image/GlossyBlackButtonsm.png);*/
    background-image : url(../Image/GlossyHoverButtonSm2.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    color : White;    
    line-height:22px;
    width : 84px;
}

.buttondisable
{
    background-image : url(../Image/GlossyDisableButtonsm.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    text-decoration : none;
    color : White;    
    line-height:22px;
    width : 84px;
}

.buttonm
{
    background-image : url(../Image/GlossyBlackButton.png);
    width : 124px;
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;    
    text-align : center;
    text-decoration : none;
    color : White;
    line-height:30px;
}

.buttonhoverm
{
    background-image : url(../Image/GlossyGreyButton.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    color : White;
    line-height:30px;
    width : 124px;
}
.buttondisablem
{
    background-image : url(../Image/GlossyDisableButton.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    text-decoration : none;
    color : White;
    line-height:30px;
    width : 124px;
}


.buttonhoverlg
{
    background-image : url(../Image/GlossyHoverButtonlg.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    color : White;    
    line-height:30px;
    width : 124px;
}
.buttondisablelg
{
    background-image : url(../Image/GlossyDisableButtonlg.png);
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center ;    
    text-decoration : none;
    color : White;    
    line-height:30px;
    width : 124px;
}
.wARNING
{
	border-left-color: #99ccff;
	border-bottom-color: #99ccff;
	direction: ltr;
	border-top-style: groove;
	border-top-color: #99ccff;
	line-height: normal;
	border-right-style: groove;
	border-left-style: groove;
	letter-spacing: normal;
	background-color: aqua;
	text-align: justify;
	border-right-color: #99ccff;
	border-bottom-style: groove;
}
.autocomplete_ListItem 
{ 
visibility : hidden;
margin : 0px!important;

background-color : white;
color : black;

border : buttonshadow;
border-width : 1px;

border-style : solid; 
/*cursor : 'default';*/

overflow : auto;
height : 100px;

text-align : left; 
list-style-type : none;

font-family: tahoma; 
font-size: 8pt; 
}

.autocomplete_ListItem1 
{ 
visibility : hidden;
margin : 0px!important;
background-color : white; 
color : black;
border : buttonshadow; 
border-width : 1px;
border-style : solid; 
/*cursor : 'default';*/
overflow : auto; 
height :150px;
text-align : left; 
list-style-type : none;
font-family: tahoma; 
font-size: 8pt; 
}

.txtpropercase
{
	font-family:Tahoma;
	font-size:8pt;
	height:14px;
	margin-top:auto;
	text-transform:capitalize;
}
.combobox
{
	font-family:Tahoma;
	font-size:8pt;
	height:20px;
	margin-top:auto;
	/*text-transform:uppercase;*/
}
.addmsg
{
   font-family : Tahoma;
   font-size : 8pt;
   font-weight : bold;
   color : blue;
}
.errormsg
{
   font-family : Tahoma;
   font-size : 8pt;
   font-weight : bold;
   color : red;
}

.buttonbackbar
{
 background-image : url(../Image/GlassBarNormal.png);
 background-repeat :repeat-x ;
 height : 25px;
 text-align : center;
 font-family: Tahoma;
 font-weight : bold ;
 font-size :8pt;
 color : #444444;
}

.Freezing
{
   position:relative;
   top: expression(this.offsetParent.scrollTop);
   z-index: 0;
   /*background-image : url(../Image/GlassBarNormal.png);*/
   height : 25px;   
}

.FreezingCol
{
   LEFT: expression(document.getElementById("freezingDiv").scrollLeft);
   /*freezingDiv is the name of the div to make your datagrid scrollable */
   POSITION: relative;
   z-index: 1;
} 

.selectedrow
{
    background-color:Silver;
}
.subheader
{
    background-image: url(../Image/FormHeader.PNG);
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    color: White;
    height: 21px;
}

.normalfld
{
    font-family:Tahoma;
	font-size:8pt;
	height:13px;	
}

.focusfld
{
    font-family:Tahoma;
	font-size:8pt;
	height:13px;
	background-color:#FFDDDD;	
}

.Tab
{
    background-image : url(../Image/Buttons_Tabs/Black_Tab.png);
    background-repeat : no-repeat ;
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    color : White;
    display:inline-block;
    width : 110px;
    line-height:25px;
}

.Tab:Hover
{
    background-image : url(../Image/Buttons_Tabs/Grey_Tab.png);
    background-repeat : no-repeat;
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    color : White;
    display : inline-block;
    width : 110px;
    line-height:25px;
}

.dl_item_hover
{
    background-color : #CCCCCC;
    text-decoration :none;
    cursor : hand;
}

.dl_item_normal
{
    background-color :Transparent ;
}

.frame_tab_item
{
    background-image : url(../Image/Buttons_Tabs/Black_Tab.png);
    background-repeat : no-repeat ;
    font-family : Tahoma;
    font-size : 8pt;
    
    text-align : center;
    text-decoration : none;
    color : White;
    display:inline-block;
    width : 110px;
    line-height:25px;
}

.frame_tab_item:hover
{
    background-image : url(../Image/Buttons_Tabs/DarkBlue_Tab.png);
    background-repeat : no-repeat ;
    font-family : Tahoma;
    font-size : 8pt;    
    text-align : center;
    text-decoration : none;
    color : White;
    display:inline-block;
    width : 110px;
    line-height:25px;
}

.frame_tab_item_selected
{
    background-image : url(../Image/Buttons_Tabs/Blue_Tab.png);
    background-repeat : no-repeat ;
    font-family : Tahoma;
    font-size : 8pt;
    text-align : center;
    text-decoration : none;
    display:inline-block;
    width : 110px;
    line-height:25px;
}


.combobox
{
	font-family:Tahoma;
	font-size:8pt;
	height:20px;
	margin-top:auto;
	/*text-transform:uppercase;*/
}

.titletext
{
    font-family:Trebuchet MS;
	font-size:10pt;
	font-weight: bold;
}

div#AdjResultsDiv { 
width: 100%; 
height: 186px; 
overflow: scroll; 
position: relative;
	top: 0px;
	left: -1px;
}

div#AdjResultsDiv th {   
top: expression(document.getElementById("AdjResultsDiv").scrollTop-2); 
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
position: relative; 
z-index: 20; 
} 

#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: yellow;
width:auto ; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}
/* style sheet for grid ---   gridviewstyle*/
/*GridViewCSS*/


.GridViewStyle

{

    font-family:Tahoma;

    font-size:8pt;

    table-layout: auto;

    border-collapse: collapse;

    border: #1d1d1d 5px solid;

}

/*Header and Pager styles*/

.HeaderStyle, .PagerStyle /*Common Styles   HeaderGlassBlack.jpg);*/

{

    background-image: url(../Image/GridHeader.png);
  

    background-position:center;

    background-repeat:repeat-x;

    background-color:#1d1d1d;

}

.HeaderStyle th

{

    padding: 5px;

    color: #ffffff;

}

.HeaderStyle a

{

    text-decoration:none;

    color:#ffffff;

    display:block;

    text-align:left;

    font-weight:normal;

}

.PagerStyle table

{

    text-align:center;

    margin:auto;

}

.PagerStyle table td

{

    border:0px;

    padding:5px;

}

.PagerStyle td

{

    border-top: #1d1d1d 3px solid;

}

.PagerStyle a

{

    color:#ffffff;

    text-decoration:none;

    padding:2px 10px 2px 10px;

    border-top:solid 1px #777777;

    border-right:solid 1px #333333;

    border-bottom:solid 1px #333333;

    border-left:solid 1px #777777;

}

.PagerStyle span

{

    font-weight:bold;

    color:#FFFFFF;

    text-decoration:none;

    padding:2px 10px 2px 10px;

}

/*RowStyles*/

.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/

{

    padding: 5px;

    border-right: solid 1px #1d1d1d;

}

.RowStyle td

{

    background-color: #c9c9c9;

}

.AltRowStyle td

{

    background-color: #f0f0f0;

}

.SelectedRowStyle td

{

    background-color: #ffff66;

}


/* End of-- style sheet for grid ---   gridviewstyle*/

.buttonlg
{   
    background-image : url('../Image/GlossyNormalButtonLg.png');
    font-family : Tahoma;
    font-size : 8pt;
    font-weight : bold;
    text-align : center;
 
    color : White;
    width : 84px;
    line-height:18px;
}

.closebutton
{
	background-image: url(../Image/exit.png);
	width: 24px;
	font-family: verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: White;
	line-height: 24px;
}
.watermark
{
   font-family:Tahoma;
	font-size:8pt;
	height:12px;
    color: Gray;
   
    
}
.normalrow
  {  
    font-family:Tahoma;
	font-size:8pt;
    background-image:none;
	background-repeat:repeat-x 
  }  
 .highlightrow  
 {  
  background-color:#cccccc;  
 }  
  .NewsTab .ajax__tab_header 
{
    color: Black ;
    font-size: 13px;
    font-weight: bold;
    background-color: White;
    margin-left: 10px;
}
.NewsTab .ajax__tab_outer
{
    background-color: White;
}
.NewsTab .ajax__tab_inner
{
    padding: 3px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:Gray; 
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: Black;
}
.NewsTab .ajax__tab_hover .ajax__tab_inner
{
  /*  background-color: Black;*/
  background-image:url(../EmployeePortal/Image/Titleheader.png);
  color:White;
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    background-color: White;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    background-color: #fefdf7;
}


/* ajax__tab_technorati-theme theme */
.ajax__tab_technorati-theme .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(../EmployeePortal/image/technorati/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../EmployeePortal/image/technorati/tab.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_inner 
{
    background:url(../EmployeePortal/image/technorati/tab.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.ajax__tab_technorati-theme .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../EmployeePortal/image/technorati/tab.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../EmployeePortal/image/technorati/tab.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.ajax__tab_technorati-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}
.buttonArrow
{
	/*background-image: url(../Image/GlossyBlackButtonsm.png); */
	/*background-image: url(../Image/GlossyGreyButtonSm.png); */
	background-image: url(../Image/GlossyNormalButtonSm2.png);

	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: White;
	
}
.modalBackground
{
 background-color:Gray;
 filter:alpha(opacity=70);
 opacity:0.7;
padding=3px;

}
.search
{
	background-image: url(../EmployeePortal/Image/search3small.png);
	width: 25px;
	font-family: verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: White;
	line-height: 25px;
}
.RadioButtonList
{
 font-size:1.4em;
  color:#243C7A;
  padding-left:6px;    
  width:100%;
  line-height:1.4em;  
  margin:2px 25px 0 0; 
}
.panel
{
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	width: auto;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin-top: 0;
	margin-bottom: 0;
	/*background-color: #CCCCCC;*/
	border-style: solid;
	border-width: 1px;
	border-color: Gray;
}

/* Class of Close button of modalpopup extender Created By Ashish Sharma on 29-jan-2010 */
.close {	
    DISPLAY: block;	
    BACKGROUND: url(../Image/close24.png) no-repeat 0px 0px;	
    LEFT: 300px;	
    WIDTH: 26px;	
    TEXT-INDENT: -1000em;	
    POSITION: absolute;	
    TOP: -5px;	
    HEIGHT: 26px;	
}   
/* Class of Panel button of modalpopup extender Created By Ashish Sharma on 29-jan-2010 */
.confirm-dialog {	
    BACKGROUND: url(../Image/bg/dialog24.png) no-repeat left top;	
    MARGIN: 0px auto;	
    WIDTH: 330px;	
    PADDING-TOP: 14px;	
    POSITION: relative;
}

.confirm-dialog .inner {	
    PADDING-RIGHT: 20px;	
    PADDING-LEFT: 20px;	
    PADDING-BOTTOM: 11px;
    BACKGROUND: url(../Image/bg/dialog24.png) no-repeat left bottom;	
    FLOAT: left;	
    MARGIN: 0px 0px -20px 0px;	
    WIDTH: 290px;	
    PADDING-TOP: 0px;
} 

